
	/*BODY*/

body, .presentation input
{
font-family: 'Roboto', sans-serif;
}


	/*ANIMATION CHARGEMENT*/

.loader
{
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
	opacity: 0.8;
	width: 100%;
	height: 100vh;
	background-color: #FFFFFF;
	inset: 0;
	animation: loading 1s 3s forwards;
}

.loader img
{
	width: 150px;
	animation: scale 1s infinite;
}

.loader i
{
	color: #FF79DA;
	animation: turn 3s linear;
	margin-left: 40px;
}

@keyframes scale
{
	from
	{
		transform: scale(1.0);
	}

	to
	{
		transform: scale(1.2);
	}
}

@keyframes loading
{
	from
	{
		z-index: 1;
		opacity: 0.9;
	}

	to
	{
		z-index: -1;
		opacity: 0;
	}
}

@keyframes turn
{
	to
	{
		transform: rotate(360deg);
	}
}


	/*HEADER*/

h1
{
	font-weight: 800;
	font-size: 27px;
}

#logo_ohmyfood
{
	width: auto;
	text-align: center;
	padding-left: 10%;
	padding-right: 10%;
	margin-top: 30px;
}

.localisation
{
	width: auto;
	text-align: center;
	margin-top: 10px;
	padding-top: 1px;
	padding-bottom: 1px;
	background-color: #DCDCDC;
	box-shadow: inset 1px 3px 5px grey;
}

.localisation p
{
	position: relative;
	font-size: 19px;
}

.localisation i
{
	position: absolute;
	margin-left: -90px;
	margin-top: 20px;
}

.presentation
{
	width: auto;
	text-align: center;
	background-color: whitesmoke;
	padding-top: 20px;
	padding-bottom: 60px;
}

.presentation h1
{
	padding-left: 9%;
	padding-right: 9%;
}

.presentation p
{
	font-size: 19px;
	padding-left: 6%;
	padding-right: 6%;
	padding-bottom: 30px;
}

.presentation a
{
	color: white;
	text-decoration: none;
	font-size: 19px;
	font-weight: 500;
	background: linear-gradient(#FF79DA, #9356DC);
	border-radius: 40px;
	border-style: none;
	padding: 18px;
	box-shadow: -2px 2px 5px lightgrey;
}

.presentation a:hover
{
	opacity: 0.8;
	box-shadow: -2px 5px 10px black;;
	transition-duration: 500ms;
}



	/*SECTION*/

	/*NAVIGATION*/

.navigation h1
{
	margin-top: 40px;
	margin-left: 30px;
}

.navigation a
{
	text-decoration: none;
	color: black;
}

.navigation i:hover
{
	color: #9356DC;
}

.navigation figure
{
	display: flex;
	flex-direction: row;
	background-color: whitesmoke;
	border-radius: 20px;
	box-shadow: -2px 2px 5px #DCDCDC;
	margin-top: 30px;
	padding: 25px;
	font-size: 18px;
	font-weight: 600;
	transform: scale(1.0);
}

.navigation figure:hover
{
	background-color: #E6E6FA;
	transform: scale(1.05);
	transition-duration: 500ms;
}

.navigation i
{
	padding-left: 10px;
	padding-right: 20px;
	font-size: 22px;
}

.navigation p
{
	position: absolute;
	color: white;
	background-color: #9356DC;
	width: 16px;
	border-radius: 30px;
	margin-left: -35px;
	margin-top: 0px;
	padding-left: 6px;
}

	/*RESTAURANTS*/

.restaurants
{
	background-color: whitesmoke;
	margin-top: 80px;
	padding-left: 20px;
	padding-bottom: 50px;
}

.restaurants h1
{
	padding-top: 40px;
}

.restaurants figure
{
	display: flex;
	flex-wrap: wrap;
	width: 95%;
	height: 250px;
	margin-left: 0px;
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	background-color: white;
	border-radius: 20px;
	box-shadow: 1px 1px 8px #DCDCDC;
}


.restaurants span
{
	position: absolute;
	color: #2E8B57;
	font-weight: 500;
	background-color: #99E2D0;
	border-radius: 3px;
	font-size: 14px;
	margin-left: 68%;
	margin-top: 4%;
	padding: 6px;
}

.restaurants img
{
	position: relative;
	width: 100%;
	height: 180px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	object-fit: cover;
}

.restaurants a
{
	text-decoration: none;
	color: black;
}

.restaurants figcaption
{
	width: 100%;
	padding-left: 15px;
	padding-top: 15px;
	padding-bottom: 12px;
	line-height: 10px;
}

.deuxieme_ligne
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.deuxieme_ligne i
{
	margin-right: 5%;
	font-size: 26px;
}

.deuxieme_ligne i:hover
{
	font-weight: 800;
	color: transparent;
	
	-webkit-background-clip: text;
	background-clip: text;
	background-image: -webkit-linear-gradient(linear, left bottom, left top, #9356DC, #FF79DA);
	background-image: linear-gradient(to top, #FF79DA, #9356DC);
		transition: 500ms;
	
	
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 0;
}


	/*FOOTER*/


footer
{
	width: auto;
	padding: 25px;
	background: #404040;
}

footer p
{
	width: auto;
	color: white;
	line-height: 27px;
}

footer i
{
	padding-right: 7px;
}

footer a
{
	text-decoration: none;
	color: white;
}

#logo_footer_ohmyfood img
{
	filter: invert(100%);
	width: 100px;
}





	/*RESPONSIVE MOBILE*/

 @media screen and (max-width: 768px)
 {
 	body
 	{
 		width: auto;
 		margin: auto;
 	}
 }

 	/*RESPONSIVE TABLETTE*/


 @media screen and (min-width: 768px) and (max-width: 912px)
 {
 	body
 	{
 		margin: auto;
 	}

 	.navigation h1
 	{
 		width: 100%;
 		margin-left: 20px;
 	}

 	.navigation
 	{
 		display: flex;
 		flex-wrap: wrap;
 	}

 	.navigation_boutons
 	{
 		display: flex;
 		flex-wrap: nowrap;
 		width: auto;
 	}

 	.navigation figure
 	{
 		margin: 15px;
 	}

 	.restaurants
 	{
 		display: flex;
 		flex-wrap: wrap;
 	}

 	.restaurants_boutons
 	{
 		display: flex;
 	}

 	.restaurants figure
 	{
 		position: relative;
 	}

	.deuxieme_ligne
	{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.deuxieme_ligne i
	{
		margin-right: 5%;
		font-size: 26px;
	}

	.deuxieme_ligne i:hover
	{
		font-weight: 800;
		color: #9356DC;
			transition: 500ms;
}

 	.restaurants span
 	{
 		margin-right: 5%;
 	}
 }

  @media screen and (min-width: 912px)
 {
 	body
 	{
 		margin: auto;
 	}

 	.navigation h1
 	{
 		width: 100%;
 		margin-left: 20px;
 	}

 	.navigation
 	{
 		display: flex;
 		flex-wrap: wrap;
 		width: 100%;
 		margin: auto;
 	}

 	.navigation_boutons
 	{
 		display: flex;
 		flex-wrap: nowrap;
 		width: 100%;
 		justify-content: space-evenly;
 	}

 	.navigation figure
 	{
 		margin: 15px;
 	}

 	.restaurants
 	{
 		display: flex;
 		flex-wrap: wrap;
 	}

 	.restaurants_boutons
 	{
 		display: flex;
 		flex-wrap: nowrap;
 		justify-content: center;
 		width: 100%;
 	}

	.deuxieme_ligne
	{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.deuxieme_ligne i
	{
		margin-right: 5%;
		font-size: 26px;
	}

	.deuxieme_ligne i:hover
	{
		font-weight: 800;
		color: #9356DC;
			transition: 500ms;
	}

	.restaurants figure
	{
		position: relative;
	}

 	.restaurants span
 	{
 		margin-right: 5%;
 	}

 	footer p
 	{
 		white-space: nowrap;
 	}

 }