body, .presentation input
{
font-family: 'Roboto', sans-serif;
}


	/*BODY*/

	/*HEADER*/

h1
{
	font-weight: 800;
	font-size: 27px;
}

#logo_ohmyfood
{
	width: auto;
	text-align: center;
	padding-left: 10%;
	padding-right: 10%;
	margin-top: 30px;
}

.localisation
{
	width: auto;
	text-align: center;
	margin-top: 10px;
	padding-top: 1px;
	padding-bottom: 1px;
	background-color: #DCDCDC;
	box-shadow: inset 1px 3px 5px grey;
}

.localisation p
{
	position: relative;
	font-size: 19px;
}

.localisation i
{
	position: absolute;
	margin-left: -90px;
	margin-top: 20px;
}

.presentation
{
	width: auto;
	text-align: center;
	background-color: whitesmoke;
	padding-top: 20px;
	padding-bottom: 60px;
}

.presentation h1
{
	padding-left: 9%;
	padding-right: 9%;
}

.presentation p
{
	font-size: 19px;
	padding-left: 6%;
	padding-right: 6%;
	padding-bottom: 30px;
}

.presentation a
{
	color: white;
	text-decoration: none;
	font-size: 19px;
	font-weight: 500;
	background: linear-gradient(#FF79DA, #9356DC);
	border-radius: 40px;
	border-style: none;
	padding: 18px;
	box-shadow: -2px 2px 5px lightgrey;
}

.presentation a:hover
{
	opacity: 0.8;
}



	/*SECTION*/

	/*NAVIGATION*/

.navigation h1
{
	margin-top: 40px;
	margin-left: 30px;
}

.navigation a
{
	text-decoration: none;
	color: black;
}

.navigation i:hover
{
	color: #9356DC;
}

.navigation figure
{
	display: flex;
	flex-direction: row;
	background-color: whitesmoke;
	border-radius: 20px;
	box-shadow: -2px 2px 5px #DCDCDC;
	margin-top: 30px;
	padding: 25px;
	font-size: 18px;
	font-weight: 600;
	transform: scale(1.0);
}

.navigation figure:hover
{
	background-color: #E6E6FA;
	transform: scale(1.05);
	transition-duration: 500ms;
}

.navigation i
{
	padding-left: 10px;
	padding-right: 20px;
	font-size: 22px;
}

.navigation p
{
	position: absolute;
	color: white;
	background-color: #9356DC;
	width: 16px;
	border-radius: 30px;
	margin-left: -35px;
	margin-top: 0px;
	padding-left: 6px;
}

	/*RESTAURANTS*/

.restaurants
{
	background-color: whitesmoke;
	margin-top: 80px;
	padding-left: 20px;
	padding-bottom: 50px;
}

.restaurants h1
{
	padding-top: 40px;
}

.restaurants figure
{
	display: flex;
	flex-wrap: wrap;
	width: 95%;
	height: 250px;
	margin-left: 0px;
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	background-color: white;
	border-radius: 20px;
	box-shadow: 1px 1px 8px #DCDCDC;
}


.restaurants span
{
	position: absolute;
	color: #2E8B57;
	font-weight: 500;
	background-color: #99E2D0;
	border-radius: 3px;
	font-size: 14px;
	margin-left: 68%;
	margin-top: 4%;
	padding: 6px;
}

.restaurants img
{
	position: relative;
	width: 100%;
	height: 180px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	object-fit: cover;
}

.restaurants a
{
	text-decoration: none;
	color: black;
}

.restaurants figcaption
{
	padding-left: 15px;
	padding-top: 3px;
	line-height: 22px;
}

.restaurants i
{
	position: absolute;
	font-size: 28px;
	padding-top: 8px;
	padding-left: 72%;
}

.restaurants i:hover
{
	font-weight: 800;
	color: #9356DC;
}


	/*FOOTER*/


footer
{
	width: auto;
	padding: 25px;
	background: #404040;
}

footer p
{
	width: auto;
	color: white;
	line-height: 27px;
}

footer i
{
	padding-right: 7px;
}

#logo_footer_ohmyfood img
{
	filter: invert(100%);
	width: 100px;
}





	/*RESPONSIVE MOBILE*/

 @media screen and (max-width: 768px)
 {
 	body
 	{
 		width: auto;
 		margin: auto;
 	}
 }

 	/*RESPONSIVE TABLETTE*/


 @media screen and (min-width: 768px) and (max-width: 912px)
 {
 	body
 	{
 		margin: auto;
 	}

 	.navigation
 	{
 		display: flex;
 		flex-wrap: wrap;
 	}

 	.navigation_boutons
 	{
 		display: flex;
 		flex-wrap: nowrap;
 		width: auto;
 	}

 	.navigation figure
 	{
 		margin: 15px;
 	}

 	.restaurants
 	{
 		display: flex;
 		flex-wrap: wrap;
 	}

 	.restaurants_boutons
 	{
 		display: flex;
 		flex-wrap: nowrap;
 		width: 100%;
 	}

 	.restaurants figure
 	{
 		position: relative;
 	}	

 	.restaurants i
 	{
 		position: absolute;
 		margin-top: 20px;
 		margin left: 95%;
 		font-size: 20px;
 	}

 	.restaurants span
 	{
 		margin-left: 35%;
 	}
 }

  @media screen and (min-width: 912px)
 {
 	body
 	{
 		margin: auto;
 	}

 	.navigation
 	{
 		display: flex;
 		flex-wrap: wrap;
 		width: 90%;
 	}

 	.navigation_boutons
 	{
 		display: flex;
 		flex-wrap: nowrap;
 		width: auto;
 		justify-content: space-between;
 		margin-left: 20%;
 	}

 	.navigation figure
 	{
 		margin: 15px;
 	}

 	.restaurants
 	{
 		display: flex;
 		flex-wrap: wrap;
 	}

 	.restaurants_boutons
 	{
 		display: flex;
 		flex-wrap: nowrap;
 		width: 100%;
 	}

 	.restaurants figure
 	{
 		position: relative;
 	}	

 	.restaurants i
 	{
 		position: absolute;
 		margin-top: 20px;
 		margin left: 95%;
 		font-size: 20px;
 	}

 	.restaurants span
 	{
 		margin-left: 35%;
 	}

 	footer p
 	{
 		white-space: nowrap;
 	}



